body {
  overflow-x: hidden;
}

#header {
 background-color:black;   
 border-bottom: 5px solid red;
 position: fixed;
 
}

#header h1 {
 color:red;   
 display: inline-block;
 padding: 25px 0;
}
 
.navbar {
 float: right;   

}


.navbar li {
 display:inline;   
}

.navbar li a {
text-decoration: none;
color:white;
font-size: 130%;    
padding: 25px 15px;
display: inline-block;
    
}

.navbar li a:hover {
 color:red;   
}


.carousel-item {
  height: 450px;
  background-size: cover;
  padding-top: 100px;
}


.about {
 padding: 20px;
 font-family: sans-serif;
 font-size: 18px;
 color:DodgerBlue;
}




#analysing h2 {
font-size: 50px;   
text-align:center; 
color: red;
}

 #analysing p {
 font-size: 20px;
 font-family: sans-serif;
 float: left;
 padding-bottom: 20px;
}

#analysing img {
font-size: cover;
 width: 400px;
 padding-top: 30px;
}

#home-icons h1 {
 color:red;   
 border: 2px solid red;
 
}


.container {
 width: 70%;
 margin: auto;
}




